.delivery {
  padding: 60px 0 50px;

  &__row {
    display: flex;
    align-items: flex-end;
  }

  &__col {
    margin-right: 55px;

    &:last-child {
      margin-right: 0;
    }

    &-w30 {
      width: 30%;
      padding-top: 55px;
    }

    &-title {
      font-family: "Liberation Serif", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 44px;
      color: #000000;
      margin-bottom: 19px;
    }

    &-descr {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #000000;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-main-title {
      font-family: "Liberation Serif";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
      margin-bottom: 17px;
    }

    &-img {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .delivery__col {
    margin-right: 20px;
  }
  .delivery__col-w30 {
    width: 40%;
    padding-top: 0px;
  }
  .delivery__col-descr {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
  }
}

@media (max-width: 768px) {
  .delivery {
    padding: 30px 0 30px;
  }
  .delivery__row {
    flex-direction: column;
  }
  .delivery__col {
    margin: 0;
    margin-bottom: 20px;
  }
  .delivery__col-w30 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .delivery__col-title {
    margin-bottom: 10px;
  }
  .delivery__col-descr {
    margin-bottom: 10px;
  }
  .delivery__col-main-title {
    margin-bottom: 10px;
  }
}
