.flowers {
  padding: 60px 0;

  &__row {
    display: flex;
    align-items: flex-end;
    column-gap: 110px;
  }

  &__col {
    width: 100%;
    &-image-block {
      max-width: 550px;
    }

    &-img {
      width: 100%;
    }

    &-descr {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-title {
      font-family: "Liberation Serif", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 80px;
      color: #000000;
      margin-bottom: 154px;
    }

    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #000000;
    }

    &-link {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
      margin-top: 35px;

      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .flowers__col-title {
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  .flowers__row {
    column-gap: 20px;
  }
}

@media (max-width: 768px) {
  .flowers {
    padding: 40px 0;
  }
  .flowers__col-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .flowers__col-text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 576px) {
  .flowers__row {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .flowers__col-image-block {
    margin-bottom: 20px;
  }
}
