.footer {
  background: #000000;
  padding: 45px 60px 40px;

  .main-footer {
    h2 {
      font-family: "Liberation Serif";
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 72px;
      color: #ffffff;
    }
    p {
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
    }
  }
}
