@import "../fonts/Roboto/stylesheet.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.shipping {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #191919;
  padding: 16px 0;
}

@import "header.scss";
@import "first-screen.scss";
@import "info.scss";
@import "ingredients.scss";
@import "spirits.scss";
@import "delivery.scss";
@import "review.scss";
@import "flowers.scss";
@import "mood.scss";
@import "footer.scss";
