@import "../fonts/Roboto/stylesheet.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.shipping {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #191919;
  padding: 16px 0;
}

.header {
  position: absolute;
  width: 100%;
  padding: 25px 0 31px;
  z-index: 1;
}
.header__logo {
  width: 80px;
  height: 40px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
  column-gap: 60px;
  list-style-type: none;
}
.header__list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header__list-link {
  color: #ffffff;
  text-decoration: none;
}
.header__list-link:hover {
  color: black;
}

.first-screen {
  background: #996b60;
  padding: 312px 0 100px;
  position: relative;
}
.first-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url("../../src/images/first-screen/first-screen-bg.jpg") center/cover no-repeat;
}
.first-screen__row {
  display: flex;
  justify-content: flex-end;
}
.first-screen__content {
  padding-right: 28px;
  z-index: 3;
}
.first-screen__title {
  font-family: "Liberation Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 96px;
  color: #ffffff;
  margin-bottom: 34px;
}
.first-screen__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 46px;
}
.first-screen__btn {
  width: 180px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
.first-screen__btn:hover {
  border: 1px solid #000000;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .first-screen {
    padding: 220px 0 100px;
  }
  .first-screen__content {
    padding-right: 5px;
    text-align: right;
  }
  .first-screen__title {
    font-size: 60px;
    line-height: 69px;
    margin-bottom: 18px;
  }
  .first-screen__subtitle {
    font-size: 15px;
    line-height: 21px;
  }
}
@media (max-width: 768px) {
  .first-screen::before {
    width: 100%;
  }
  .first-screen::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3137254902);
    position: absolute;
    top: 0;
    left: 0;
  }
  .first-screen__content {
    position: relative;
    z-index: 1;
  }
  .first-screen__btn {
    color: #ffffff;
  }
}
@media (max-width: 576px) {
  .first-screen {
    padding: 120px 0 40px;
  }
  .first-screen__title {
    font-size: 51px;
    line-height: 43px;
    margin-bottom: 16px;
  }
  .first-screen__subtitle {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 30px;
  }
  .first-screen__btn {
    width: 120px;
    height: 40px;
    font-size: 10px;
    line-height: 12px;
  }
}
@media (max-width: 425px) {
  .first-screen__subtitle {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 18px;
  }
}
@media (max-width: 375px) {
  .first-screen {
    padding: 80px 0 40px;
  }
}
@media (max-width: 320px) {
  .first-screen {
    padding: 50px 0 40px;
  }
  .first-screen__title {
    font-size: 42px;
    line-height: 39px;
  }
  .first-screen__btn {
    width: 100px;
    height: 34px;
  }
}
.info {
  padding: 59px 0 41px;
}
.info__row {
  display: flex;
  column-gap: 180px;
  position: relative;
}
.info__row::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #bdbdbd;
  position: absolute;
  bottom: -41px;
}
.info__col {
  width: 33.3%;
}
.info__col-text {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}
.info__col-img {
  width: 100%;
}

@media (max-width: 1200px) {
  .info__row {
    column-gap: 110px;
  }
}
@media (max-width: 1024px) {
  .info__row {
    column-gap: 47px;
  }
}
@media (max-width: 992px) {
  .info {
    padding: 40px 0 40px;
  }
  .info__row {
    column-gap: 30px;
  }
  .info__col-text {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .info__row {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }
  .info__col {
    width: calc(50% - 15px);
    text-align: center;
  }
  .info__col:nth-child(2) {
    order: 3;
  }
  .info__col-text {
    margin-bottom: 7px;
  }
}
@media (max-width: 375px) {
  .info {
    padding: 20px 0 20px;
  }
  .info__row::before {
    bottom: -20px;
  }
}
@media (max-width: 320px) {
  .info__col-text {
    font-size: 12px;
    line-height: 13px;
  }
}
.ingredients {
  padding: 106px 0 141px;
}
.ingredients__title {
  font-family: "Liberation Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}
.ingredients__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 82px;
}
.ingredients__row {
  display: flex;
  column-gap: 55px;
  position: relative;
}
.ingredients__row::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #bdbdbd;
  position: absolute;
  bottom: -141px;
}
.ingredients__col {
  width: 33.3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.ingredients__col--best {
  position: relative;
}
.ingredients__col--best::before {
  content: "best seller";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #191919;
  position: absolute;
  right: 24px;
  top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}
.ingredients__col-img {
  width: 100%;
}
.ingredients__col-title {
  font-family: "Liberation Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 16px;
}
.ingredients__col-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 27px;
}
.ingredients__col-btn {
  width: 180px;
  height: 52px;
  background: #191919;
  border: 1px solid #191919;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.ingredients__col-btn:hover {
  color: #191919;
  border: 1px solid #c2c2c2;
  background: #c2c2c2;
}

@media (max-width: 1200px) {
  .ingredients {
    padding: 50px 0 50px;
  }
}
@media (max-width: 768px) {
  .ingredients__title {
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 20px;
  }
  .ingredients__subtitle {
    margin-bottom: 40px;
  }
  .ingredients__col-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .ingredients__col--best::before {
    width: 60px;
    height: 60px;
    right: 14px;
    top: 8px;
  }
  .ingredients__col-description {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
  }
  .ingredients__col-btn {
    width: 140px;
    height: 40px;
  }
}
@media (max-width: 426px) {
  .ingredients {
    padding: 30px 0 30px;
  }
  .ingredients__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 15px;
  }
  .ingredients__row {
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
  .ingredients__col {
    width: calc(50% - 15px);
  }
}
@media (max-width: 375px) {
  .ingredients__subtitle {
    margin-bottom: 0px;
  }
  .ingredients__col {
    width: 100%;
  }
  .ingredients__col--best::before {
    width: 50px;
    height: 50px;
    right: 5px;
    top: 5px;
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 320px) {
  .ingredients__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .ingredients__col-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 7px;
  }
  .ingredients__col--best::before {
    width: 80px;
    height: 80px;
    right: 20px;
    top: 6px;
  }
}
.spirits {
  padding: 60px 0 95px;
}
.spirits__img {
  width: 100%;
}
.spirits__row {
  display: flex;
  margin-top: 54px;
  position: relative;
}
.spirits__row::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #bdbdbd;
  position: absolute;
  bottom: -95px;
}
.spirits__title {
  font-family: "Liberation Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 80px;
  color: #000000;
  flex-shrink: 0;
  margin-right: 330px;
}
.spirits__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

@media (max-width: 1200px) {
  .spirits__title {
    margin-right: 111px;
  }
}
@media (max-width: 1024px) {
  .spirits {
    padding: 0px 0 40px;
  }
  .spirits__row::before {
    bottom: -40px;
  }
}
@media (max-width: 992px) {
  .spirits__title {
    font-size: 48px;
  }
  .spirits__row {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .spirits__row {
    flex-direction: column;
    margin-top: 0;
  }
  .spirits__title {
    font-size: 34px;
    margin-right: 0;
  }
  .spirits__description {
    font-size: 16px;
    line-height: 18px;
  }
}
.delivery {
  padding: 60px 0 50px;
}
.delivery__row {
  display: flex;
  align-items: flex-end;
}
.delivery__col {
  margin-right: 55px;
}
.delivery__col:last-child {
  margin-right: 0;
}
.delivery__col-w30 {
  width: 30%;
  padding-top: 55px;
}
.delivery__col-title {
  font-family: "Liberation Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 19px;
}
.delivery__col-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 25px;
}
.delivery__col-descr:last-child {
  margin-bottom: 0;
}
.delivery__col-main-title {
  font-family: "Liberation Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 17px;
}
.delivery__col-img {
  width: 100%;
}

@media (max-width: 1200px) {
  .delivery__col {
    margin-right: 20px;
  }
  .delivery__col-w30 {
    width: 40%;
    padding-top: 0px;
  }
  .delivery__col-descr {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
  }
}
@media (max-width: 768px) {
  .delivery {
    padding: 30px 0 30px;
  }
  .delivery__row {
    flex-direction: column;
  }
  .delivery__col {
    margin: 0;
    margin-bottom: 20px;
  }
  .delivery__col-w30 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .delivery__col-title {
    margin-bottom: 10px;
  }
  .delivery__col-descr {
    margin-bottom: 10px;
  }
  .delivery__col-main-title {
    margin-bottom: 10px;
  }
}
.review {
  padding: 95px 60px 50px;
  background-color: #000000;
}
.review__row {
  display: flex;
  align-items: flex-start;
  column-gap: 165px;
}
.review__col {
  width: 33.3%;
}
.review__col-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #8a8a8a;
  display: block;
}
.review__col p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 17px;
}
.review__col-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 9.52px;
}

@media (max-width: 1024px) {
  .review {
    padding: 40px 60px 40px;
  }
}
@media (max-width: 992px) {
  .review {
    padding: 30px 0px 30px;
  }
  .review__row {
    column-gap: 30px;
  }
}
@media (max-width: 426px) {
  .review__row {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .review__col {
    width: 100%;
    margin-bottom: 20px;
  }
  .review__col:last-child {
    margin-bottom: 0;
  }
  .review__col p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}
.flowers {
  padding: 60px 0;
}
.flowers__row {
  display: flex;
  align-items: flex-end;
  column-gap: 110px;
}
.flowers__col {
  width: 100%;
}
.flowers__col-image-block {
  max-width: 550px;
}
.flowers__col-img {
  width: 100%;
}
.flowers__col-descr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flowers__col-title {
  font-family: "Liberation Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 154px;
}
.flowers__col-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
.flowers__col-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 35px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .flowers__col-title {
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .flowers__row {
    column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .flowers {
    padding: 40px 0;
  }
  .flowers__col-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .flowers__col-text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 576px) {
  .flowers__row {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .flowers__col-image-block {
    margin-bottom: 20px;
  }
}
.mood {
  padding: 60px 0;
  background-image: url("../../src/images/mood/mood-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mood__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 550px;
  width: 100%;
}
.mood__col-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 40px 69px;
  margin-bottom: 20px;
}
.mood__col-info button {
  width: 180px;
  height: 52px;
  margin-top: 26px;
  background: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  cursor: pointer;
}
.mood__col-info button:hover {
  color: #ffffff;
  background: #000000;
  border: 1px solid #ffffff;
}
.mood__col-share {
  background-color: #000000;
  padding-top: 28px;
  padding-bottom: 32px;
}
.mood__title {
  font-family: "Liberation Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 9px;
}
.mood__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.mood__links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 21px;
  margin-top: 17px;
}
.mood__links-item {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  list-style-type: none;
  cursor: pointer;
}

@media (max-width: 425px) {
  .mood__title {
    font-size: 48px;
    line-height: 52px;
  }
}
@media (max-width: 320px) {
  .mood {
    padding: 40px 0;
  }
  .mood__col-info {
    padding: 30px 50px;
  }
  .mood__title {
    font-size: 35px;
    line-height: 40px;
  }
  .mood__descr {
    line-height: 20px;
  }
}
.footer {
  background: #000000;
  padding: 45px 60px 55px;
}
.footer__content .footer__form {
  position: relative;
}
.footer__content-input {
  width: 440px;
  height: 53px;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid #8a8a8a;
  padding-left: 20px;
  color: #ffffff;
}
.footer__content-input::placeholder {
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #818181;
  text-align: left;
}
.footer__content button {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.footer__content button:hover {
  color: #8a8a8a;
}
.footer__nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 21px;
  width: 100%;
}
.footer__list-item {
  list-style-type: none;
}
.footer__list-item:first-child {
  margin-bottom: 7px;
}
.footer__list-item a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__list-item a:hover {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.footer .main-footer {
  display: flex;
  column-gap: 220px;
}
.footer .main-footer h2 {
  font-family: "Liberation Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 72px;
  color: #ffffff;
  margin-bottom: 12px;
}
.footer .main-footer p {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 14px;
}
.footer .bottom-footer {
  margin-top: 141px;
}
.footer .bottom-footer__list {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.footer .bottom-footer__item {
  list-style-type: none;
}
.footer .bottom-footer__item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer .bottom-footer__item a:hover {
  font-size: 15px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .footer {
    padding: 40px 0px 40px;
  }
  .footer .bottom-footer {
    margin-top: 80px;
  }
  .footer .main-footer {
    column-gap: 50px;
  }
}
@media (max-width: 768px) {
  .footer .main-footer {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .footer__content .footer__form {
    width: fit-content;
  }
  .footer__nav {
    width: 100%;
  }
  .footer .bottom-footer__list {
    justify-content: space-between;
    column-gap: 0px;
  }
}
@media (max-width: 426px) {
  .footer__content-input {
    width: 390px;
  }
  .footer .main-footer h2 {
    line-height: 52px;
  }
  .footer .main-footer p {
    line-height: 24px;
    margin-bottom: 5px;
  }
  .footer .bottom-footer {
    margin-top: 40px;
  }
}
@media (max-width: 375px) {
  .footer {
    padding: 20px 0px 5px;
  }
  .footer__content-input {
    width: 280px;
  }
  .footer__list {
    row-gap: 10px;
  }
  .footer__list-item a {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: normal;
    text-transform: capitalize;
  }
  .footer .bottom-footer__item a {
    font-size: 8px;
    line-height: 9px;
  }
}
.burger {
  display: none;
}

.zIndex-0 {
  z-index: 0;
}

.overflowHidden {
  overflow: hidden;
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
    background-color: #c2c2c2;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateY(100%);
    transition: 2s;
    padding: 20px;
  }
  .header__nav-active {
    background: #191919;
    transform: translateY(0);
    transition: 2s;
    z-index: 9;
  }
  .header__nav-active .header__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header__nav-active .header__list {
    margin-bottom: 15px;
  }
  .header__nav-active .header__logo {
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
  }
  .burger {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 90%;
    top: -35px;
    position: relative;
  }
  .burger__active .burger__line {
    background-color: transparent;
  }
  .burger__active .burger__line::before {
    transform: rotate(-45deg);
    top: 0;
    transition: 2s;
  }
  .burger__active .burger__line::after {
    transform: rotate(45deg);
    top: 0;
    transition: 2s;
  }
  .burger__line {
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 2s;
  }
  .burger__line::before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 9px;
    transition: 2s;
  }
  .burger__line::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: -9px;
    transition: 2s;
  }
}

/*# sourceMappingURL=style.css.map */
